.pass-tr {
    .operations {
        .edit {
            color: #20a8d8;
            font-size: 20px;
            margin-right: 20%;
        }

        .remove {
            color: red;
            font-size: 20px;
        }

        .edit,
        .remove {
            border: none;
            background-color: transparent;
            outline: none;
            padding: 0;
        }
    }
}