.component-content {
    
    .create-btn {
        background-color: rgba(22, 204, 71, 0.8);
        border: none;
        outline: none;
    }

    .create-btn:hover {
        background-color: rgba(245, 158, 20, 0.8);
    }
}