$colorGreen: rgba(22, 204, 71, 0.8);
$colorOrange: rgba(245, 158, 20, 0.8);

.Main {
    .heding-wrapper {   
        color: rgb(89, 86, 82);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 45px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .btn {
            margin-top: 30px;
            outline: none;
            border: 2px solid transparent;
            border-radius: 6px;
            padding: 8px 10px;
            cursor: pointer;
        }

        .get-started {
            background-color: $colorGreen;
            margin-right: 40px;
        }

        .get-started:hover {
            background-color: transparent;
            border: 2px solid $colorGreen;
        }

        .read-more {
            background-color: $colorOrange;
            margin-left: 40px;
        }

        .read-more:hover {
            background-color: transparent;
            border: 2px solid $colorOrange;
        }
    }
}