.password-form {
    .create-btn {
        background-color: rgba(22, 204, 71, 0.8);
        border: none;
        outline: none;
        margin-top: 10px;
    }

    .create-btn:hover {
        background-color: rgba(245, 158, 20, 0.8);
    }

    .form-group {
        margin-bottom: 2px;
    }

    .error {
        color: red;
    }
}