.Register {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: rgb(89, 86, 82);
    width: 40%;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 2px;
    }

    .error {
        color: red;
    }

    .register-btn {
        background-color: rgba(22, 204, 71, 0.8);
        border: none;
        outline: none;
        flex-basis: 100px;
        margin-top: 10px;
    }

    .register-btn:hover {
        background-color: rgba(245, 158, 20, 0.8);
    }

    .register-btn:disabled,
    .register-btn:disabled:hover {
        background-color: #DDDDDD;
        cursor: default;
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}